@import "../Abstract/Variables.scss";
:root {
  --heading-background-color: $headingBackgroundColor;
  --heading-after-background-color: $headingBackgroundColor; 
}
.home {
  background-color: $headingBackgroundColor;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
  height: auto;

  .complete-details {
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2.5rem !important;
    padding-top: 2.5rem !important;
  }

  .my-image {
    width: 80%;
    max-width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  & img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;
    border: 5px solid $defaultWhite;
    border-radius: 60%;
  }

  .my-details {
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    padding: 10px;
  }

  h3 {
    font-size: 50px;
    text-align: center;
  }

  h2 {
    font-size: 60px;
    text-align: center;
    position: relative;
    top: 0;
    animation: slide 4s steps(1) infinite;
  }

  .down-arrow {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
  }

  .bounce {
    display: inline-block;
    background-color: $headingBackgroundColor;
    font-size: 40px;
    text-align: center;
    color: $defaultBlack !important;
    border-radius: 20px;
    padding: 5px 7px 14px;
    margin: 0 auto;
    box-shadow: 0 2px $defaultBlack;
    border: 1px solid $defaultBlack;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 0;
    animation: bounce 0.5s ease-out infinite alternate;
    text-decoration: none;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  @keyframes bounce {
    0% {
      top: 0;
      color: $defaultWhite;
    }
    100% {
      top: 20px;
      color: #e0e0e0;
    }
  }

  @keyframes slide {
    100% {
      top: -360px;
    }
  }

  .my-details h2:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--heading-after-background-color);
    border-left: 5px solid $defaultBlack;
    animation: typing 4s steps(10) infinite;
  }

  @keyframes typing {
    40%,
    60% {
      left: calc(100% + 30px);
    }
    100% {
      left: 0;
    }
  }
}

@media (max-width: 900px) {
  .home {
    top: 115px;
  }
  .complete-details {
    flex-direction: column !important;
  }
  .my-image {
    width: 70%;
  }

  h3 {
    font-size: 30px;
  }

  h2 {
    font-size: 35px !important;
  }
  .down-arrow {
    margin: 0px !important;
  }
  .my-details h3 {
    font-size: 25px;
  }
  .my-details h2 {
    font-size: 30px;
  }
  .my-details{
    align-items: center !important;
  }
}
