@import "../Abstract/Variables.scss";
:root {
  --hover-color: $headingBackgroundColor; // Replace with your default color
}
.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 20px 0px $defaultBlack;
  z-index: 1;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  .navbar-a {
    margin-left: 10px;
    color: $defaultBlack;
    font-weight: 900;
    letter-spacing: -2px;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    font-family: auto;
  }

  .blob {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14%;
    height: 50%;
    background: $blobBackgroundColor;
    border-radius: 60% 100% 10% 10%;
    transform: skewY(-10deg);
    transform-origin: top right;
    z-index: -1;
  }

  .navbar-links {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      list-style: none;
    font-family: auto;


      .links-a {
        color: $defaultGrey;
        padding: 0 0.85em;
        text-decoration: none;
        list-style: none;
        transition: all 0.3s ease-in;
        &:hover {
          color:$defaultBlack;          
          transition: all 0.3s ease-in;
      }
    }
    }
  }

  .social-links {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      list-style: none;
      // line-height: 10px;

      .social-a {
        margin: 0px 5px;
        color:$defaultBlack;
        text-decoration: none;
        transition: all 0.5s ease-in;
      }

      & :hover {
        transition: all 0.5s ease-in;
        color: $headingBackgroundColor;
      }
    }
  }
}

.active {
  color: var(--hover-color);
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .blob {
    display: none;
  }

  .navbar-a {
    margin-bottom: 10px;
    font-size: 20px !important;
    margin-left: 0px !important;
  }

  .navbar-links {
    ul {
      flex-direction: column;
      margin-bottom: 10px;

      .links-a {
        padding: 0.5em 0.5rem !important;
        font-size: 15px !important;
      }
    }
  }
}
