@import "../Abstract/Variables.scss";
.setting {
  position: relative;
  z-index: 1;

  .set {
    position: fixed;
    top: 120px;
    background: $defaultBlack;
    color: $defaultWhite;
    width: 40px;
    border-radius: 5px 0 0 5px;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;

    span {
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menu {
    position: fixed;
    top: 160px;
    right: 0;
    background-color: $defaultWhite;
    box-shadow: 0 0px 10px $defaultBlack;
    border-top-left-radius: 5px;
    padding: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1;

    .menu-item {
      cursor: pointer;
      background: $defaultBG1;
      margin: 5px;
      width: 20px;
      height: 20px;
      opacity: 0.7;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $defaultBG1;
        opacity: 1;
        transform: scale(1.2);
        transition: all 0.3s ease-in;
      }
    }
    .menu-item2 {
      cursor: pointer;
      background: $defaultBG2;
      margin: 5px;
      width: 20px;
      height: 20px;
      opacity: 0.7;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $defaultBG2;
        opacity: 1;
        transform: scale(1.2);
        transition: all 0.3s ease-in;
      }
    }
    .menu-item3 {
      cursor: pointer;
      background: $defaultBG3;
      margin: 5px;
      width: 20px;
      height: 20px;
      opacity: 0.7;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $defaultBG3;
        opacity: 1;
        transform: scale(1.2);
        transition: all 0.3s ease-in;
      }
    }
    .menu-item4 {
      cursor: pointer;
      background: $defaultBG4;
      margin: 5px;
      width: 20px;
      height: 20px;
      opacity: 0.7;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $defaultBG4;
        transform: scale(1.2);
        transition: all 0.3s ease-in;
        opacity: 1;
      }
    }
  }
}

.rotated {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
