$headingBackgroundColor: #f8adad;
$blobBackgroundColor:#f29393;
$defaultBlack:black;
$defaultWhite:white;
$defaultGrey:rgb(104, 102, 102);
$defaultBG1:#FFE715;
$defaultBG2:#77ff00;
$defaultBG3:#01FFFF;
$defaultBG4:#C84B31;
$borderBottomInput:2px solid rgba(0, 0, 0, 0.12);
$contactButton:#2b2d2e;
$HovercontactButton:0 5px 15px rgba(0, 0, 0, 0.3);
